@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row justify-content-center">
    <div class="col-md-5 habilidades-section">
        <i class="bi-hdd-fill"></i>
        <h3>Back-end</h3>
        <p>
            Trabajo en el desarrollo, pruebas automáticas y despliegues en producción con entrega continua.
        </p>
        <p class="text-primary cabecera">
            Stack:
        </p>
        <p>
            ASP.NET Core, SQL Server
        </p>
        <p class="text-primary cabecera">
            Experiencia en:
        </p>
        <ul class="habilidades">
            <li>Web APIs</li>
            <li>ASP.NET Core MVC</li>
            <li>Entity Framework</li>
            <li>Python</li>
            <li>Angular</li>
        </ul>
    </div>
    <div class="col-md-5 habilidades-section">
        <i class="bi-code-slash"></i>

        <h3>Front-end</h3>
        <p>
            Desarrollo interfaces de usuario modernas y responsivas con las últimas tecnologías web.
        </p>
        <p class="text-primary cabecera">
            Stack:
        </p>
        <p>
            Angular, React, Blazor
        </p>
        <p class="text-primary cabecera">
            Experiencia en:
        </p>
        <ul class="habilidades">
            <li>Angular Material</li>
            <li>JavaScript</li>
            <li>CSS3</li>
            <li>HTML5</li>
            <li>Responsive Design</li>
        </ul>
    </div>
</div>