@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="text-center">
        <h1 class="display-4">Soy @Model.Nombre (@Model.Edad)</h1>
        <h2>Desarrollador Full Stack especializado en tecnologías .NET y JavaScript</h2>
        <img src="img/assassin.jpg" id="foto" alt="Foto de @Model.Nombre" />
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8 seccion-bienvenida">
            <h1>Bienvenido a mi portafolio</h1>
            <p>
                Soy un apasionado desarrollador de software con más de 2 años de experiencia en la creación de soluciones tecnológicas innovadoras. Mi experiencia se centra en:
            </p>
            <ul>
                <li>🧪 Pruebas exhaustivas</li>
                <li>🚄 Mejoras de rendimiento</li>
                <li>🛠️ Desarrollo de nuevas funcionalidades</li>
            </ul>
            <p>
                Me especializo en la optimización de aplicaciones y sistemas, aportando una sólida base de conocimientos en diversas tecnologías.
            </p>
        </div>
    </div>

