
@model Persona


@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Soy @Model.Nombre (@Model.Edad)</h1>
    <h2>Soy un desarrollador full stack especializado en tenologías .net y Javacript</h2>
    <img src="img/assassin.jpg" id="foto" alt="Foto de Jonatan" />

</div>
<div class="text-center"> 
    <img id="imagen-dotnet" src="img/assassin.jpg" alt="Alternate Text" />
</div>
<div class="row justify-content-center text-center">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenidad a mi portafolio</h1>
        <p>
            I'm a passionate software developer with over 2 years of experience in creating innovative technological solutions. My expertise lies in:

            🧪 Thorough testing
            🚄 Performance enhancements
            🛠️ Developing new functionalities
            I specialize in optimizing applications and systems, bringing a solid knowledge base in various technologies.
        </p>
    </div>
</div>